@model FPTCourse_ASP.Models.Topic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic_Name)
        </dd>

    </dl>
</div>
<div class="wm-404page-button">
    <ul>
        <li><a href="javascript: history.go(-1)">Go Back</a> </li>
        <li>@Html.ActionLink("Back to home page", "Index", "Home")</li>
    </ul>
</div>
